.container {
    h3 {
        font-weight: bold;
        text-decoration: underline;
        font-family: 'Righteous', cursive;;
    }
    h5 {
        
        text-decoration: underline;
        font-family: 'Righteous', cursive;

    }

    li {
        font-family: 'Righteous', cursive;
    }

}